In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
import re
import dash
import dash_core_components as dcc
import dash_html_components as html

In [ ]:
init_notebook_mode(connected=True)

In [ ]:
x = np.linspace(0,np.pi,1000)

layout = go.Layout(
    title="Simple Example",
    yaxis=dict(
        title='volts'
    ),
    xaxis=dict(
        title='nanosecs'
    )
)

tracel = go.Scatter(
    x=x,
    y=np.sin(x),
    mode='lines',
    name='sin(x)',
    line=dict(
    shape='spline'
    )
)

fig = go.Figure(data=[tracel],layout=layout)
iplot(fig)

In [ ]:
data = pd.read_csv("data.csv",low_memory=False)

In [ ]:
data.head()

In [ ]:
data = data.dropna()
data = data.reindex()

In [ ]:
data

In [ ]:
data.info()

In [ ]:
data.dtypes

In [ ]:
def cleanText(stringz):
    stringz = stringz.strip()
    return stringz

In [ ]:
def cleanNumerics(stringz):
    pattern = r'-?\d+'
    collectedNumber = re.findall(pattern, stringz)
    return collectedNumber[0]

In [ ]:
def cleanVotes(stringz):
    stringz = stringz.replace(',','')
    return stringz

In [ ]:
def cleanAmount(stringz):
    stringz = stringz.replace('$','')
    stringz = stringz.replace('M','')
    return stringz

In [ ]:
data['Genre'] = data["Genre"].apply(lambda x : cleanText(x))

In [ ]:
data['Synopsis'] = data["Synopsis"].apply(lambda x : cleanText(x))

In [ ]:
data['Runtime'] = data["Runtime"].apply(lambda x : cleanNumerics(x))

In [ ]:
data['Year'] = data["Year"].apply(lambda x : cleanNumerics(x))

In [ ]:
data['Votes'] = data['Votes'].apply(lambda x : cleanVotes(x))

In [ ]:
data['Gross Amount'] = data['Gross Amount'].apply(lambda x : cleanAmount(x))

In [ ]:
data.astype({'Runtime': 'int64','Year': 'int64','Runtime': 'int64','Votes': 'int64','Gross Amount': 'float64' }).dtypes

In [ ]:
data.head()

In [ ]:
data.to_csv ('clean_data.csv')

In [ ]:
# # x = data['Votes']

# # layout = go.Layout(
# #     title="Simple Example",
# #     yaxis=dict(
# #         title='Runtime of Movies'
# #     ),
# #     xaxis=dict(
# #         title='Number of Votes'
# #     )
# # )

# # tracel = go.Scatter(
# #     x=x,
# #     y=data['Runtime'],
# #     mode='markers',
# #     name='sin(x)',
# #     line=dict(
# #     shape='spline'
# #     )
# # )

# layout = html.Div([
#     html.H1(children='US Agriculture Exports (2011)'),
#     dcc.Graph(
#         id='life-exp-vs-gdp',
#         figure={
#             'data': [
#                 go.Scatter(
#                     # x=df[df['continent'] == i]['gdp per capita'],
#                     # y=df[df['continent'] == i]['life expectancy'],
#                     # text=df[df['continent'] == i]['country'],
#                     x=data[data['Year'] == i]['Metascore'],
#                     y=data[data['Year'] == i]['Gross Amount'],
#                     text=data[data['Year'] == i]['Movie_Name'],
#                     mode='markers',
#                     opacity=0.7,
#                     marker={
#                         'size': 15,
#                         'line': {'width': 0.5, 'color': 'white'}
#                     },
#                     name=i
#                 ) #for i in df.continent.unique()
#                   for i in data.Year.unique()
#             ],
#             'layout': go.Layout(
#                 xaxis={'type': 'log', 'title': 'GDP Per Capita'},
#                 yaxis={'title': 'Life Expectancy'},
#                 margin={'l': 40, 'b': 40, 't': 10, 'r': 10},
#                 legend={'x': 0, 'y': 1},
#                 hovermode='closest'
#             )
#         }
#     )
# ])

# fig = go.Figure(data=figure,layout=layout)
# iplot(fig)

In [ ]:
data.head(10)
data.Genre

In [ ]:
df1 = pd.read_csv('clean_data.csv')
dope = df1[df1['Metascore']==99.0]
dope

In [ ]:
asd = df1.groupby('Year',as_index=False)
asd

In [ ]:
#asd.first()

In [ ]:
#sd['Votes'].sum()

In [ ]:
qaz = asd['Gross Amount'].sum()
qaz['Gross Amount'] = qaz['Gross Amount']*1000000
s2 = qaz.astype('int64')
s2.info()
s2.head()
# type(qaz)
# qaz = pd.DataFrame(qaz)

In [ ]:
type(qaz['Gross Amount'][0])

In [ ]:
plt.

In [ ]:
w = 56.63
q = 1.2
z = 1200000

zxc = z / q
zxc

In [ ]:
print(w * 1000000)

In [ ]:
df1['Gross Amount'] = df1['Gross Amount']*1000000

In [ ]:
df1['Gross Amount']

In [6]:
import pandas as pd
df1 = pd.read_csv('clean_data.csv')
for i in df1.columns:
    print(i,df1[i].value_counts().count())

Unnamed: 0 1244
Movie_Name 1239
Genre 64
Runtime 77
Year 59
Synopsis 1242
Votes 1228
Gross Amount 859
Rating 56
Metascore 90

In [9]:
df1['Rating'].unique()

array([7.5, 6.9, 7.6, 8. , 6.5, 6.3, 7. , 7.8, 6.8, 5.9, 8.6, 6.7, 7.3,
       7.2, 6. , 6.2, 7.7, 6.1, 7.4, 7.1, 8.3, 5.8, 6.4, 5.2, 6.6, 5.6,
       5.5, 5.1, 5.7, 8.2, 4.5, 5.3, 5.4, 4.6, 4.4, 4. , 7.9, 3.6, 4.7,
       8.5, 4.8, 1.9, 8.1, 4.9, 2.5, 3.5, 4.3, 5. , 3.8, 2.8, 2.1, 4.2,
       3.9, 3.2, 3.3, 4.1])

In [13]:
new_list= df1['Rating'].round()

In [15]:
type(new_list)

pandas.core.series.Series

In [17]:
zxc = new_list.value_counts()

In [18]:
type(zxc)

pandas.core.series.Series

In [20]:
zxc = pd.DataFrame(zxc)

In [21]:
zxc

     Rating
6.0     580
7.0     404
5.0     146
8.0      72
4.0      33
3.0       5
2.0       3
9.0       1

In [22]:
zxc.columns

Index(['Rating'], dtype='object')

In [23]:
zxc.index

Float64Index([6.0, 7.0, 5.0, 8.0, 4.0, 3.0, 2.0, 9.0], dtype='float64')

In [24]:
new_list_rating = df1['Rating'].round().unique()

In [29]:
for i in new_list_rating:
    print(i)

8.0
7.0
6.0
9.0
5.0
4.0
2.0
3.0

In [36]:
jack = [str(i)+'/10 Rating' for i in zxc.index]

In [37]:
jack

['6.0/10 Rating',
 '7.0/10 Rating',
 '5.0/10 Rating',
 '8.0/10 Rating',
 '4.0/10 Rating',
 '3.0/10 Rating',
 '2.0/10 Rating',
 '9.0/10 Rating']